[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "public"]
	path = public
	url = https://github.com/Zsailer/Zsailer.github.io.git
	branch = master
